<br>
<br>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Please Wait...</p>
</ngx-spinner>
<div>
    <h1 style="margin-left: 25px;color: rgb(4,54,89);">
        List of Blocked IP Addresses
    </h1>
</div>
<br>
<div style="margin-left: 1%;">
<form class="date-form" [formGroup]="filterForm">
	<div class="date-form_item">
    <mat-form-field>
      <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="date-form_item">
    <mat-form-field>
      <input matInput [matDatepicker]="toDate" placeholder="To Date"  formControlName="toDate">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-button color="primary" class="bt1" (click)="filter()" >Search</button>
  <button mat-button color="primary" class="bt2" (click)="downloadPdf()">Export to PDF</button>
</form>
</div>


<div id="iptable" #iptable>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-left: 25px;">

    <ng-container matColumnDef="Blocked IP Address">
      <th mat-header-cell *matHeaderCellDef> Blocked IP Address </th>
      <td mat-cell *matCellDef="let element"> {{element.blockIp}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="Intrusion Class">
      <th mat-header-cell *matHeaderCellDef> Intrusion Class </th>
      <td mat-cell *matCellDef="let element"> {{element.intrusionClass}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.blockedStatus}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="Timestamp">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>

    <ng-container matColumnDef="ChangeStatus">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-slide-toggle class="slider-cs" [color]="color" [checked]="checkAllowed(element)" [disabled]="disabled" (change)="toggle($event,element)">
          Allow IP
        </mat-slide-toggle> 
      </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>